.buttons
{
	width: 40px;
	height:40px;
	background-color: orange;
	font: white;
	font-size: 20px;
}
.calc-dim
{
	width: 250px;
	height:500px;
}
.outer-calc
{
	width:300px;
}
.operator
{
	background-color: yellow;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#output
{
	font-size: 20px;
	
}