<!Doctype html>
<html>
<head>
	<title>calculator</title>
	<link href="calc.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
	<script src="calc.js"> </script>
</head>
<body ng-app="Myapp">
	<div class="calc-dim" ng-controller="Calccontroller">
		<fieldset id="outer-calc">
			<legend style="font-size:20px;">calculator</legend>
			<form>
				<input style="width: 200px;height: 40px;" id="output" value={{output}} type="text" ng-model="output"><br><br>
				<input class="buttons" type="button" value="1" ng-click="output=output+'1'">
				<input class="buttons" type="button" value="2" ng-click="output=output+'2'">
				<input class="buttons" type="button" value="3" ng-click="output=output+'3'">
				<input class="operator" type="button" value="+" ng-click='operate("+")'>
				<input class="operator" type="button" value="-" ng-click='operate("-")'><br>
				<input class="buttons" type="button" value="4" ng-click="output=output+'4'">
				<input class="buttons" type="button" value="5" ng-click="output=output+'5'">
				<input class="buttons" type="button" value="6" ng-click="output=output+'6'">
				<input class="operator" type="button" value="*" ng-click='operate("*")'>
				<input class="operator" type="button" value="/" ng-click='operate("/")'><br>
				<input class="buttons" type="button" value="7" ng-click="output=output+'7'">
				<input class="buttons" type="button" value="8" ng-click="output=output+'8'">
				<input class="buttons" type="button" value="9" ng-click="output=output+'9'">
				<input type="button" value="C" class="operator" ng-click="output=''" style="width:80px;">
				<br>
				<input class="buttons" type="button" style="background-color: white; border:0px;">
				<input class="buttons" type="button" value="0" ng-click="output=output+'0'">
				<input class="buttons" type="button" style="background-color: white; border:0px;">
				<input class="operator" type="button" value="=" style="width: 80px;"ng-click="result()">
				
			</form>
		</fieldset>
	</div>
</body>
</html>